<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<div class="box shadow">
    <h2 class="text-center">Contáctanos</h2>

    <% if (typeof success !== 'undefined') { %>
        <div class="alert <%= success ? 'alert-success' : 'alert-danger' %>">
            <%= message %>
        </div>
    <% } %>

    <form action="/contact" method="POST" class="form" id="contact-form">
        <div id="error-message" class="alert alert-danger" style="display:none;"></div>
        <input type="hidden" name="source" value="contact-form">
        <div class="field">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" required>
        </div>
        <div class="field">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email" name="email" required>
        </div>
        <div class="field">
            <label for="message" class="form-label">Mensaje</label>
            <textarea class="form-control" id="message" name="message" rows="4" required></textarea>
        </div>
        <% if (recaptchaSiteKey) { %>
        <div class="field">
            <div class="g-recaptcha" data-sitekey="<%= recaptchaSiteKey %>"></div>
        </div>
        <% } %>
        <button type="submit" class="btn btn-primary w-100">Enviar Mensaje</button>
    </form>
</div>

<script>
    document.getElementById('contact-form').addEventListener('submit', function(event) {
        var recaptchaResponse = grecaptcha.getResponse();
        if (recaptchaResponse.length === 0) {
            event.preventDefault();
            var errorMessageDiv = document.getElementById('error-message');
            errorMessageDiv.innerText = 'Por favor completa el reCAPTCHA.';
            errorMessageDiv.style.display = 'block';
        } else {
            document.getElementById('error-message').style.display = 'none';
        }
    });
</script>

</body>
</html>