<form action="/contact/add" method="POST">
    <label for="email">Correo Electrónico:</label>
    <input type="email" id="email" name="email" required>
  
    <label for="name">Nombres:</label>
    <input type="text" id="name" name="name" required>
  
    <label for="comment">Comentario:</label>
    <textarea id="comment" name="comment" required></textarea>
  
    <button type="submit">Enviar</button>
  </form>
  